<form  >
<div>
  <h2>LOGIN PAGE</h2>
</div>
   
<div>
  <img src ="assets/Images/avatar.png" alt="avatar">
</div>

    <div class="ui input">
        <input type="text" placeholder="username">
      </div>
      <div class="ui input">
        <input type="password" placeholder="password">
      </div>

    <div class="ui animated button" tabindex="0">
        <div class="visible content">Login</div>
        <div class="hidden content">
          <i class="right arrow icon"></i>
        </div>
      </div>


</form>





