
      <table>
         <thead>
            <tr>
               <th *ngFor = "let tableheader of tableheaders"> {{tableheader}} </th>
            </tr>
         </thead> 
      

         <tbody>

            <tr>
               <td *ngFor = "let tabledata of tabledatas"> {{tabledata}} </td>
            </tr>
            
            <tr>
               <td *ngFor = "let tabledata1 of tabledatas1"> {{tabledata1}} </td>
            </tr>

            <tr>
               <td *ngFor = "let tabledata2 of tabledatas2"> {{tabledata2}} </td>
            </tr>

            <tr>
               <td *ngFor = "let tabledata3 of tabledatas3"> {{tabledata3}} </td>
            </tr>

            <tr>
               <td *ngFor = "let tabledata4 of tabledatas4"> {{tabledata4}} </td>
            </tr>
         </tbody>

      </table>
  